# Data Structures
> **List**, **Tuple**, **Dictionary**  
> Data wrangling with these data structures

## Lists
> Lists are variable-length and mutable.

In [21]:
a1 = [1,2,3]
print(type(a1))

<class 'list'>

In [22]:
a2 = [[1,2,3],[3,4,5]]
print(type(a2))

<class 'list'>

In [23]:
a3 = [[1,2,3],[3,4,5],4,3,2,1,0]
print(type(a3))

<class 'list'>

In [24]:
a4 = ['hkbu',2019,True]
print(type(a4))

<class 'list'>

In [25]:
print(a2[0])
print(a3[2])
print(a4[-1])

[1, 2, 3]
4
True

In [26]:
print(str(a2[0][2]) + ' is the 3rd element in the 1st element of a2')
print(a2[1][1])

3 is the 3rd element in the 1st element of a2
4

In [5]:
a5 = [1,2,3,4,5]
print(1 in a5)
print(6 in a5)

True
False

In [7]:
a6 = ['a','b','c']
print('b' in a6)
print('abc' in a6)

True
False

## Tuples
> A ***tuple*** is a fixed-length, immutable sequence of Python objects.  
> That means you cannot change elements in tuple after you define it.  
> Recall that string is also not immutable.  
> Tuple allows for multiple assignment.

In [27]:
b1 = 1,2,3,'a','b','c'
print(type(b1))

<class 'tuple'>

In [28]:
b1[:3]

(1, 2, 3)

In [29]:
b1[0]=10

TypeError: 'tuple' object does not support item assignment

In [31]:
b2 = tuple(a1)
print(type(b2))

<class 'tuple'>

In [32]:
a,b,c = 1,2,3

In [33]:
print(a)
print(b)
print(c)

1
2
3

## Dictionary
> ***dict*** is also called ***hash map*** or ***associative array***.  
> It is a collection of ***key-value pairs*** in curly {} brackets.

In [35]:
students = {
    'Amy': ['SID001', 26, 'A'],
    'Bobby': ['SID002', 25, 'B+'],
    'Carl': ['SID003', 21, 'A-'],
    'David': ['SID004', 23, 'A'],
    'Eva': ['SID005', 24, 'B']
}

In [39]:
print(students['David'])
print(students['David'][1])
print(type(students['David']))

['SID004', 23, 'A']
23
<class 'list'>

In [43]:
students = {
    'Amy':{'id':'SID001', 'age':26, 'grade': 'A'},
    'Bobby':{'id':'SID002', 'age':25, 'grade':'B+'},
    'Carl':{'id':'SID003', 'age':21, 'grade':'A-'},
    'David':{'id':'SID004', 'age':23, 'grade':'A'},
    'Eva':{'id':'SID005', 'age':24, 'grade':'B'}
}

In [44]:
print(students['David']['grade'])

A

# Activity 1
> Apply addition, mulitplication to List, Tuple and Dictionary.  
> What are the differences?

### Lists

In [10]:
a = [1,2,3]
b = [4,5,6]

### Tuple

In [14]:
c = 1,2,3
d = 4,5,6

(1, 2, 3, 1, 2, 3)

### Dictionary

In [40]:
e = {'a':1, 'b':2, 'c':3}
f = {'a':4, 'b':5, 'c':6}

In [41]:
e.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [42]:
e.keys()

dict_keys(['a', 'b', 'c'])

In [52]:
import pandas as pd
df = pd.DataFrame([e,f])
df.columns = ['key{}'.format(i) for i,col in enumerate(df,1)]
df

   key1  key2  key3
0     1     2     3
1     4     5     6

In [50]:
list(enumerate(df,0))

[(0, 'd0'), (1, 'd1'), (2, 'd2')]

## Data appending Data

In [1]:
a = [1,2,3]
a+[4]

[1, 2, 3, 4]

In [4]:
b = a + ['a','b','c']
c = a+list('abc')
print(b)
print(c)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']

In [5]:
a.append(6)
a

[1, 2, 3, 6]

In [6]:
a.insert(3,4)
a

[1, 2, 3, 4, 6]