# B1-Activity 1

In [ ]:
n1 = 17
n2 = 4
b = n1-n2
c = n1*n2
d = n1/n2
e = n1//n2
f = n1%n2
print(str(b) + ' is the difference between n1 & n2')
print(str(c) + ' is the product between n1 & n2')
print(str(d) + ' is the division of n1 by n2')
print("{} is {}".format(e,"floor of n1/n2"))
print("{} is {}".format(f,"modulo of n1/n2"))

# B1-Activity 2

In [ ]:
print(type(b),type(c),type(d),type(e),type(f))

# B1-Activity 3

In [ ]:
a_floor = 10//2
a_mod   = 10%2
b_floor = 7.5//5
b_mod   = 7.5%5
c       = 2*5-1
print(a_floor,a_mod,b_floor,b_mod,c)
print(type(a_floor),type(a_mod),type(b_floor),type(b_mod),type(c))

# B2-Activity 1

In [ ]:
import random
winamount = random.randint(-50,50)
trump     = random.randint(1,5)
winamount = int(winamount*trump)
chips1=chips2=50
chips1 = chips1 + winamount
chips2 += winamount

# B4-Activity 1

In [ ]:
code_name = input('Please enter your favourite course as follows: Code/Name')
clean = code_name.strip()
code  = clean[:clean.index('/')]
name  = clean[clean.index('/')+1:]
out = 'My favourite course is {} ({})!'.format(name,code)
print(out)

# B5-Activity 1

In [ ]:
weather = 'bad'
temperature = 20

if (weather == 'good') and (temperature == 20):
    print('Tennis')
elif (weather == 'good') and (temperature == 30):
    print('Swimming')
elif (weather == 'bad') and (temperature == 20):
    print('Movie')
else:
    print('No mood')

# B6-Activity 1

In [ ]:
info = {'University': 'HKBU', 'Department': 'Econ', 'Programme': 'DABE', 'Size': 60}
print(info)
print(info['Programme'])

# B6-Activity 2

In [ ]:
a = []
num = [1,2,3,4,5]
for i in num:
    a.append(i)
    print(a)

# B7-Activity 1

In [ ]:
i=1
while i <= 5:
    print(2*i)
    i+=1

# B7-Activity 2

In [ ]:
existing_customers = ['Amy','Bobby','Carl','David','Eva']
name = input('What is your name? ').strip().capitalize()
if name in existing_customers: 
    print(name + ' is my existing customers.')
else:
     print(name + ' is my new customers.')

# B8-Activity 1

In [ ]:
import math
def pythagorus(a,b):
    c = math.sqrt(a^2+b^2)
    return c

pythagorus(3,4)

In [ ]:
import math
another_py = lambda a,b: math.sqrt(a^2+b^2)
another_py(3,4)

# B8-Activity 2

In [ ]:
def standard(numbers):
    z=[]
    for x in numbers:
        y=[(x-min(numbers))/(max(numbers)-min(numbers))]
        z=z+y
    return z 

numbers = [1,2,3,4,5]
standard(numbers)

# B10-Activity 1

In [8]:
import numpy as np
x = np.random.randn(50,1)
x_var = np.var(x)
u = np.random.randn(50,1)
y = 1+2*x+u
y_mean = np.mean(y)
y_var = np.var(y)

# B10-Activity 2

In [25]:
e = np.ones((50,1))
z = np.concatenate((e,x),axis=1)
z.shape

(50, 2)

In [28]:
zm = np.matrix(z)
zz = zm.T*zm
print(zz)

from numpy.linalg import inv
zz_inv = inv(zz)

[[ 50.         -22.22236862]
 [-22.22236862  79.83395918]]

In [32]:
ym = np.matrix(y)
zy = zm.T*ym

b  = zz_inv*zy
print(b)

[[1.25684322]
 [1.91502165]]

# B11-Activity 1

In [18]:
import pandas as pd
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
den = pop/area
code = pd.Series({'California': 'CA', 'Texas': 'TX',
                  'New York': 'NY', 'Florida': 'FL',
                  'Illinois': 'IL'})

data = pd.DataFrame({'area':area, 'population':pop,'density2':den,'statecode':code})
data

              area  population    density2 statecode
California  423967    38332521   90.413926        CA
Texas       695662    26448193   38.018740        TX
New York    141297    19651127  139.076746        NY
Florida     170312    19552860  114.806121        FL
Illinois    149995    12882135   85.883763        IL

In [17]:
data.population is data['population']

True